@if (timer) {
  <mat-card style="margin:2em">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ timer.buggy.name }}</mat-card-title>
        <mat-card-subtitle>{{ timer.buggy.org }} {{ _classTeamString }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      @if (!_timer?.completed) {
        <span class="pending">Roll Pending</span>
      } @else {
        @if (_abs?.T8 == null) {
          <span class="dnf">Roll Result: DNF</span>
        } @else {
          <span class="completed">Roll Result: Completed</span>
        }
      }
      <ul>
        @if (_abs?.T0 != null) {
          <li><b>Start</b>: {{ _abs?.T0 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T1 != null) {
          <li><b>1-2 Transition</b>: {{ _abs?.T1 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T2 != null) {
          <li><b>Crosswalk</b>: {{ _abs?.T2| date:'mediumTime' }}</li>
        }
        @if (_abs?.T3 != null) {
          <li><b>Stop Sign</b>: {{ _abs?.T3 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T4 != null) {
          <li><b>Chute Flag</b>: {{ _abs?.T4 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T5 != null) {
          <li><b>Hill 3 Line</b>: {{ _abs?.T5 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T6 != null) {
          <li><b>3-4 Transition</b>: {{ _abs?.T6 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T7 != null) {
          <li><b>4-5 Transition</b>: {{ _abs?.T7 | date:'mediumTime' }}</li>
        }
        @if (_abs?.T8 != null) {
          <li><b>Finish</b>: {{ _abs?.T8 | date:'mediumTime' }}</li>
        }
      </ul>
      <hr>
        <ul>
          @if (_splits?.hill1 != null) {
            <li><b>Hill 1:</b> {{ _splits?.hill1 }}s</li>
          }
          @if (_splits?.hill2 != null) {
            <li><b>Hill 2:</b> {{ _splits?.hill2 }}s</li>
          }
          @if (_splits?.hill3 != null) {
            <li><b>Hill 3:</b> {{ _splits?.hill3 }}s</li>
          }
          @if (_splits?.hill4 != null) {
            <li><b>Hill 4:</b> {{ _splits?.hill4 }}s</li>
          }
          @if (_splits?.hill5 != null) {
            <li><b>Hill 5:</b> {{ _splits?.hill5 }}s</li>
          }
          @if (_splits?.fronthills != null) {
            <li><b>Fronthills:</b> {{ _splits?.fronthills }}s</li>
          }
          @if (_splits?.stopsign != null) {
            <li><b>Stop Sign:</b> {{ _splits?.stopsign }}s</li>
          }
          @if (_splits?.crosswalkStop != null) {
            <li><b>Crosswalk-Stop Sign:</b> {{ _splits?.crosswalkStop }}s</li>
          }
          @if (_splits?.freeroll != null) {
            <li><b>Freeroll:</b> {{ _splits?.freeroll }}s</li>
          }
          @if (_splits?.backhills != null) {
            <li><b>Backhills:</b> {{ _splits?.backhills }}s</li>
          }
          @if (_splits?.crosswalkFull != null) {
            <li><b>Crosswalk-Finish:</b> {{ _splits?.crosswalkFull }}s</li>
          }
          @if (_splits?.full != null) {
            <li><b>Full:</b> {{ _splits?.full }}s</li>
          }
        </ul>
      </mat-card-content>
    </mat-card>
  }