<mat-form-field>
  <mat-label>Rolls From Date</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="displayDate" (dateChange)="dateChange()">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-flat-button color="primary" style="margin: 8px" (click)="getCsv()">Get CSV</button>
<hr>
<data-view-entry *ngFor="let t of timers$ | async" [timer]="t"></data-view-entry>
<div *ngIf="(timers$ | async)?.length == 0">No times from {{displayDate.value | date:'M/d/YYYY'}}.</div>
