<h2 mat-dialog-title>Select Buggy</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Filter By Org</mat-label>
    <mat-select [(value)]="filteredOrg">
      <mat-option value="">(Show All)</mat-option>
      @for (o of orgList$ | async; track o) {
        <mat-option value="{{o}}">{{o}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @for (b of buggies$ | async; track b) {
    @if (filteredOrg == '' || filteredOrg == b.org) {
      <mat-card
        class="buggycard" (click)="select(b)">
        <mat-card-header class="buggyheader">
          <mat-card-title-group class="buggytitle">
            @if (b.smugmugSlug) {
              <img
                mat-card-md-image class="buggyimage"
                src="{{b.smugmugSlug|buggyThumbnail}}">
            }
            <mat-card-subtitle>{{ b.name }}</mat-card-subtitle>
            <mat-card-subtitle>{{ b.org }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    }
  }
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
</div>