<button (click)="newBuggy()" mat-button>
    <mat-icon>add</mat-icon> Add Buggy
</button>

<mat-form-field>
<mat-label>Filter By Org</mat-label>
<mat-select [(value)]="filteredOrg">
  <mat-option value="">(Show All)</mat-option>
  <mat-option *ngFor="let o of orgList$ | async" value="{{o}}">{{o}}</mat-option>
</mat-select>
</mat-form-field>

<p *ngIf="(buggies$ | async)?.length === 0">No Buggies Configured</p>
<ng-container *ngFor="let b of buggies$ | async">
  <buggy-detail *ngIf="filteredOrg == '' || filteredOrg == b.org" [buggy]="b"
                (edit)="editBuggy($event)"
                (toggleActive)="toggleActive($event)"
                (delete)="deleteBuggy($event)"></buggy-detail>
</ng-container>
