
<mat-card class="timer-card" *ngIf="timer">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ timer.buggy.name }}</mat-card-title>
          <mat-card-subtitle>{{ timer.buggy.org }}</mat-card-subtitle>
          <img mat-card-sm-image *ngIf="timer.buggy.smugmugSlug" src="{{timer.buggy.smugmugSlug|buggyThumbnail}}">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <nav class="button-row">
          <button mat-flat-button color="warn" (click)="delete.emit(timer)">Scratch</button>
        </nav>
      </mat-card-content>
</mat-card>