
<mat-card class="timer-card" *ngIf="timer" style="margin:2em"
          [ngStyle]="clickInvalid ? { 'background-color': 'darkgrey' } :
                       clickTooEarly ? { 'background-color': 'wheat' } : null">
    <mat-card-header (click)="markTime()"
                     (keydown.enter)="markTime()"
                     role="button"
                     class="is-focusable"
                     tabindex="0">
        <mat-card-title-group>
          <mat-card-title>{{ timer.db.buggy.name }}</mat-card-title>
          <mat-card-subtitle>{{ timer.db.buggy.org }}</mat-card-subtitle>
          <mat-card-subtitle><b>Last Recorded At: </b>{{ timer.lastSeenAtString }}</mat-card-subtitle>
          <img mat-card-sm-image *ngIf="timer.db.buggy.smugmugSlug" src="{{timer.db.buggy.smugmugSlug|buggyThumbnail}}">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <hr *ngIf="clickTooEarly || clickInvalid || clickToStart || clickToTime">
      <div *ngIf="clickToStart"><b>Buggy Ready: </b>Tap above to Start Roll</div>
      <div *ngIf="clickToTime"><b>Buggy Rolling: </b>Tap above to Record Time</div>
      <div *ngIf="clickTooEarly"><b>Warning: </b>Awaiting Start</div>
      <div *ngIf="clickInvalid"><b>Warning: </b>Selected position cannot record time</div>
      <hr>
      <nav class="button-row">
        <button mat-flat-button color="warn" (click)="scratch.emit(timer.db)">{{scratchLabel}}</button>
        <span class="classteam">{{classTeam}}</span>
      </nav>
    </mat-card-content>
</mat-card>